ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.findcondition{
	width: 80%;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	height: 50px;
}
.areakey{
	float: left;
	font-size: 18px;
	line-height: 50px;
	margin-left: 50px;
}
.findcondition ul{
	display: block;
	height: 30px;
	margin-top: 3px;
}
.findcondition ul li{
	display: block;
	width: 60px;
	height: 25px;
	text-align: center;
	float: left;
	margin-left: 10px;
	font-size: 18px;
	margin-top: 8px;
}
.active{
	background: red;
	border-radius: 15px;
}

.list-film{
	/* border: 1px solid red; */
	width: 80%;
	margin: 20px auto;
	/*height: 500px;*/
}
.list-film h3 {
	clear: both;
	font-size:18px;
	font-weight:bold;
	border-left: 3px solid red;
	padding-left: 6px;
	margin-left: 10px;
}
.list-film .filminfo{
	border-bottom: 1px dashed #e5e5e5;
	height: 90px;
}
.info{
	margin-left: 10px;
	margin-top: 25px;
	float: left;
	position: absolute;
}
.info .cinemaname{
	font-size: 16px;
}
.info p{
	color: #999;
	font-size: 14px;
}
.info-buy{
	position: relative;
	left: 700px;
	bottom: 50px;
}
.info-buy label{
	color: red;
	font-weight: bold;
	font-size: 22px;
	/* margin-right: 20px; */
}
.info-buy a{
	float: right;
	background: red;
	display: block;
	position:absolute;
	width: 80px;
	height: 30px;
	left:100px;
	bottom:3px;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
	color: white;
}
.active a:hover,.info-buy a:hover{
	color: white;
}
